<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel del Administrador</title>
</head>
<body>
    <h1>Bienvenido al panel de administrador</h1>

    <ul>
        <li><a href="/matricular/">Matricular un estudiante a un curso</a></li>
        <li><a href="{% url 'asignar_profesor' %}">Asignar profesor a un curso</a></li>
        <li><a href="{% url 'cursos_disponibles' %}">Ver cursos disponibles</a></li>
        <li><a href="#">Ver usuarios registrados</a></li>
        <li><a href="/login/">Cerrar sesión</a></li>
    </ul>
</body>
</html>
